
/* @import url(../lib/bs4/css/bootstrap.min.css); */
.container.rtl{
    direction: rtl;
}
h1 {
    text-align: center;
    text-transform: capitalize;
    margin: 20px auto;
    /* color: var(--danger); */
}

.container{
    max-width: 900px;
    margin: 10px auto;
}

.thumbnail{
    width: 30px;
}

.card-img-top{
width: 200px;
}

.header-title:hover{
cursor: pointer;
}

.header-price:hover{
    cursor: pointer;
    }

.btn-addBook.heb{
    float: right;
    /* margin: 0 20px; */
}
.lang{
    width:  200px;
    margin: 0 20px;
}

.lang.heb{
    float: right;
    margin: 0 20px;

}

table.heb{
    text-align: right
}
