
/* @import url(../lib/bs4/css/bootstrap.min.css); */
body {
    background: url("../img/bg-type.jpg"); 
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}.container {
    background-color: rgba(221, 215, 208, 0.623);
}

.container.rtl{
    direction: rtl;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    margin: 20px auto;
    /* color: var(--danger); */
}

.container{
    max-width: 900px;
    margin: 10px auto;
}

.thumbnail{
    width: 30px;
}

.card-img-top{
width: 200px;
}

.header-title:hover{
cursor: pointer;
}

.header-price:hover{
    cursor: pointer;
    }

.btn-addBook.heb{
    float: right;
    /* margin: 0 20px; */
}
.lang{
    width:  200px;
    margin: 0 20px;
}

.lang.heb{
    float: right;
    margin: 0 20px;

}

table.heb{
    text-align: right
}

.btn-primary{ 
    background-color: #34464E;
    border: none;

}
.btn-info{
    background-color: #5A7A89;
    border: none;

}

.btn-warning{
    background-color: #749DB0;
    border: none;

}
.btn-danger{
    background-color: #BA1200;
    border: none;

}
